PORT=3000
NODE_ENV=development

DB_HOST=localhost 
DB_USER=root 
DB_PASSWORD=your_password 
DB_NAME=auth_db

JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret

JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d

OTP_EXPIRY=10m

EMAIL_USER=your_email_user
EMAIL_PASS=your_email_password

REDIS_URL=
REDIS_TOKEN=